TestFinal/Workflows/test-FEB5CB94-0EE3-EB11-BACB-000D3A46302D.json
{"properties":{"connectionReferences":{"shared_planner":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"cr8f6_sharedplanner_ded4d"},"api":{"name":"shared_planner"}},"shared_teams":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"cr8f6_sharedteams_d677b"},"api":{"name":"shared_teams"}},"shared_sharepointonline":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"cr8f6_sharedsharepointonline_4c095"},"api":{"name":"shared_sharepointonline"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cr8f6_sharedcommondataserviceforapps_9f998"},"api":{"name":"shared_commondataserviceforapps"}},"shared_commondataservice":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"cr8f6_sharedcommondataservice_723a3"},"api":{"name":"shared_commondataservice"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"List_my_tasks":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_planner","operationId":"ListMyTasks_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_planner"},"parameters":{},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"List_chats":{"runAfter":{"List_my_tasks":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_teams","operationId":"GetChats","apiId":"/providers/Microsoft.PowerApps/apis/shared_teams"},"parameters":{"chatType":"all","topic":"all"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_lists":{"runAfter":{"List_chats":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetTables","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://volvogroup.sharepoint.com/sites/proj-coe_dev"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"List_rows":{"runAfter":{"Get_lists":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"activitypointers"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"List_rows_2":{"runAfter":{"List_rows":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"GetItems_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"https://coe-toolkit.crm4.dynamics.com","table":"accounts"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}